body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 189, 189);
}

h1 {
text-align: center;

}

.topnav {
    margin-top: 5px;
    font-size: 30px;
    background-color: rgb(255, 178, 77);
}

.topnav a {
    float: left;
    background-color: rgb(194, 255, 229);
    color: rgb(24, 137, 52);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
 background-color: rgb(62, 155, 255);
 color: rgb(40, 30, 16);
}

.topnav a:active {
    background-color: rgba(194, 255, 229, 0.526);
    color: black;
}

#homewriting{
    background-color: rgb(220, 220, 220);
    text-align: left;
    color: rgb(132, 75, 75);
    padding-left: 5px;
    font-size: 17px;
letter-spacing: 2px;
top: 100px;
}

#spanishclass {
    width: 500px;
    height: 350px;
    padding: 4px;
}

